@use '../../index.scss';

.VegetyButton{
    border-radius: 20px;
    border: 2px solid index.$secondary-color;
    background-color: transparent;
    transition: background-color .3s;
    padding: .5em 1em;
    color: white;
}

.VegetyButton:hover{
    background-color: index.$secondary-color;
}

.primary{    
    border: 2px solid #23992d;
    background-color: index.$primary-color;
}

.primary:hover{    
    // border: 2px solid #23992d;
    background-color: #23992d;
}

.secondary{
    background-color: index.$secondary-color;
}

.secondary:hover{
    background-color: #f59644;
}