/* Global COLORS */
$primary-color: #41ab49;
$secondary-color: #f78320;
$third-color: whitesmoke;
$text-color: black;
$global-font: #333;


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
/////////////////  Reattach after build   //////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

body{
    background: url("./images/bg_bggenerator_com.png");
}

section{
    padding: 2em 0;
}

a{
    text-decoration: none!important;
    color: black;
}

p, h1, h2, h3, body{
    margin: 0;
}

input, input:focus, input:active, button, button:focus, button:active{
    border: none;
    outline: none;
}

@mixin centerElement(){
    display: flex;
    justify-content: center;
    align-items: center;
}